<h1>Processing</h1>

<div>
For testing, we can consider the following transcriptions:

  <ul>
    <li>prompt_1: "On Tuesday, I need to pick up my dry cleaning."</li>
    <li>prompt_2: "Please make a note, today is November 15th, 2024, and I am just beginning my final project for Application Development."</li>
    <li>prompt_3: "Please create a note, I have just been thinking about how sad the weather is, it reminds me of London where it is cold and it is gray and it is sad."</li>
  </ul>

<h2>Send to ChatGPT</h2>

</div>
