<!--app/views/main_templates/processing.html.erb -->
<h1>Processing</h1>

<div>
For testing, we can consider the following transcriptions:

<ol>
<li>"On Tuesday, I need to pick up my dry cleaning."</li>
<li>"I have an assignment for my Digital Marketing Lab class due on Saturday."</li>
<li>"I need to send a follow up email to Jessica about the club."</li>
<li>"I need to go to the banquet next month."</li>
<li>"AYO GPT - can you help a m*f* remember that he's gotta fill up a m*f* car with some m*f* gas by Monday?"</li>
</ol>
</div>

<h2>Send to ChatGPT</h2>

<h3>Sent to ChatGPT</h3>
<div><b>Chosen Prompt:</b><%=@chosen_prompt%></div>

<h3>Output</h3>
<div>
<%if @result == "note"%>
  <div><b>Note body: </b><%=@body%></div>
<%elsif @result == "task"%>
  <div><b>Task: </b><%=@task%></div>
  <div><b>Deadline: </b><%=@deadline%></div>
<%else%>

<%end%>


</div>
